Source: ros-hydro-pr2-dense-laser-snapshotter
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-dense-laser-assembler, ros-hydro-pr2-msgs
Homepage: http://www.ros.org/wiki/pr2_dense_laser_snapshotter
Standards-Version: 3.9.2

Package: ros-hydro-pr2-dense-laser-snapshotter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-dense-laser-assembler, ros-hydro-pr2-msgs
Description: Stores the data from a series of laser scan messages in a dense representation, allowing users to easily perform image-like operations on intensity or range data. This package is experimental. Expect APIs to change.
