Source: ros-hydro-laser-joint-processor
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-joint-states-settler, ros-hydro-message-filters, ros-hydro-opencv2, ros-hydro-settlerlib
Homepage: http://www.ros.org/wiki/laser_joint_processor
Standards-Version: 3.9.2

Package: ros-hydro-laser-joint-processor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-joint-states-settler, ros-hydro-message-filters, ros-hydro-opencv2, ros-hydro-settlerlib
Description: Computes joint angles associated with a specific set of detected checkerboard corners. This package is experimental and unstable. Expect its APIs to change.
